# Choose ONE of the following Telegram libraries:
#pyrogram
#git+https://github.com/KurimuzonAkuma/pyrogram
kurigram
#pyrofork
#pyroblack
#nekozee
#electrogram
#pyrofork==2.2.11
#motor  # Required for pyrofork==2.2.11
tgcrypto
#tgcrypto-pyrofork # Optional for pyrofork. Comment out other tgcrypto if using this
#tgcrypto-pyroblack # Optional for pyroblack. Comment out other tgcrypto if using this
#ElectroCrypto # Optional for elctrogram. Comment out other tgcrypto if using this

asyncio
aiofiles>=23.1.0
aioshutil
anytree
apscheduler
aioaria2
aioqbt
aient
beautifulsoup4
cloudscraper
cryptography>=41.0.0
codext>=1.15.6
chardet
dnspython
duckduckgo-search
fastapi
fake-useragent
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
gallery-dl
httpx
html2text
jinja2
langcodes
lxml
lxml-html-clean
md2tgmd
msgspec
natsort
orjson
pycountry
pillow
psutil
pymongo
pyshorteners
python-magic
pytz
PyMuPDF
pytdbot[tdjson]
reportlab>=4.0.0
requests
speedtest-cli
speedtest-cloudflare-cli
tmdb3
telegraph
tenacity
toml
uvicorn
uvloop
vt-py>=0.17.5
xattr
yt-dlp[default,curl-cffi]
git+https://github.com/cinemagoer/cinemagoer
git+https://github.com/shabbirmahmud/streamrip.git@dev
git+https://github.com/DraftKinner/zotify.git@dev
